
.App {
  text-align: center;
}

body{
  margin-left: 100px;
  margin-right: 100px;
  overflow-x: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* css for component one */
.navIcon{
  display: none;
}
.the{
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
   transform: rotate(270deg);
   margin-top: -49px;
   margin-right: 174px;
}

/* css for article */
.artMain{
  width: 400px;
  height: 600px;
  margin-left: 30%;
  margin-bottom: 450px;
}

.paraArticle{
  margin-top: 50px;
}

.iconss{
  color: grey;
}

.handclap{
  color: grey;
  margin-right: 320px;
}

.iconss2{
  text-align: center;
  color: grey;
}
